version: '3.8'

services:
  backend:
    build: ./backend
    container_name: edustream-backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://admin:root@db:5432/edustream
    depends_on:
      - db
    volumes:
      - ./backend:/app
  db:
    image: postgres:15
    container_name: edustream-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: edustream
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build: ./frontend
    container_name: edustream-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
volumes:
  postgres_data: